<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW DELTA USER</title>
    
</head>
<body>
    <h2>ADD A DETAILS OF NEW USER</h2>
    
    <form action="/user/new" method="POST">
        <input name="email" type="email" placeholder="enter email" />
        <br><br>
        <input name="username" type="text" placeholder="enter usernmae" />
        <br><br>
        <input name="password" type="password" placeholder="enter password" />
        <button type="submit">Submit</button>
      </form>
    
    
</body>
</html>