<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELTA/</title>
</head>
<body>
    <h2>THE TOTAL NUMBER OF USER IS :- <%= usercount %></h2>
    <form method="get" action="/user/new">
        <button>Join Us Now</button>
    </form>
    
</body>
</html>